body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family: 'Inter';
	src: url('Golos%20Text_Regular.eot');
	src:
	     url('Golos%20Text_Regular.eot?#iefix') format('embedded-opentype'),
	     url('Golos%20Text_Regular.woff2') format('woff2'),
	     url('Golos%20Text_Regular.woff') format('woff'),
	     url('Golos%20Text-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#root {
	height: 100%;
	width: 100%;
}