<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="/static/base/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/css/mainpage.css">
</head>

<body>
    <header class="header">
        <div class="header__login">
            <a href="/registration">Регистрация</a>
            <a href="/login">Войти</a>
        </div>
    </header>

    <main class="main">
        <div class="main__cover"></div>

        <div class="main__content">
            <div id="mainpage"></div>
        </div>
    </main>

    <script src="/static/dist/mainpage.min.js"></script>
</body>

</html>
